<%- include('../partials/header') %>
<h1>Your Messages</h1>

<div class="conversations-list">
<% if (conversations.length === 0) { %>
    <p>No messages yet. Start a conversation from a listing!</p>
<% } else { %>
    <% conversations.forEach(conv => { %>
        <a href="/messages/conversation/<%= conv.other_user_id %>" class="conversation-item">
            <img src="<%= conv.profile_picture || '/images/default-avatar.png' %>" alt="">
            <div>
                <h3><%= conv.other_user_name %></h3>
                <p><%= conv.last_message ? conv.last_message.substring(0, 60) : '' %>...</p>
            </div>
        </a>
    <% }); %>
<% } %>
</div>
<%- include('../partials/footer') %>